
$font-base-family: Arial;
$font-secondary-family: Verdana;
$default-border-radius: 0px;
$default-box-shadow: -9px 11px 10px 3px #000;

$base-color: #f90100;
$important-color: #6f0000;
$warning-color: #fcbccd;