
$font-base-family: Times;
$font-secondary-family: Helvetica;
$default-border-radius: 8px;
$default-box-shadow: 10px 9px 10px 4px #000;

$base-color: #1f25ff;
$important-color: #06086a;
$warning-color: #43ffff;